<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h2>post提交数据</h2>
    <form action="/login/doLogin" method="post">
        用户名：<input type="text" name="username" id="">
        密码：<input type="password" name="pwd" id="">
        <input type="submit" value="提交">
    </form>
</body>
</html>